@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  font-family: "playfair display";
}

:root{
  --primary-color:#312e2e;
  --main-color: #deab5f;
}

button{
  padding: 10px 30px;
  background: var(--main-color);
  border:none;
  cursor: pointer;
  border-radius: 2px;
  font-size: large;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #100e0f;
  color: white;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-top:20px;
;
}


li{
  display: inline;
}

li a{
  color: white;
  text-decoration:none;
  margin-left: 20px;
  cursor: pointer;
  padding-bottom: 5px;
}

li a:hover{
  border-bottom: 2px solid var(--main-color);
}

/* header Start */
.header{
  background:url(/Projects/coffeeProject/images/pexels-nao-triponez-129207.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;

}

.main-heading{
  position: absolute;
  top: 7rem;
  word-spacing:10px;
  font-size: 3rem;
}

.primary-heading{
  position: absolute;
  bottom: 6rem;
  font-size: 2rem;
  word-spacing:5px;
  margin-top: 20px;
  
}

.main-btn{
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  
  /* background: transparent; */
  /* background-attachment: var(--main-color); */
  transform: translatey(10px);
  
}
.page2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
}
.page2 img{
  position: relative;
  right: 50px;

  transform: translateY(50px);
}

.content{
  width: 50%;
  margin: 20px;
  
}
.content h1{
  font-size: 3rem;
  padding-bottom: 30px;
  
}

.know-more{
  position: relative;
  bottom: -3rem;
}



.page3{
  margin-top: 50px ;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.page3 h1{
  font-size: 3rem;
  margin-top: 3rem;
}
.page3 img{
  height: 300px;
}
.page4{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.page4 h1{
  font-size: 3rem;
  align-self: flex-start;
  margin-left: 2rem;
  position: relative;
  top: -10rem;
  left: 10rem;
  
}
.card img{
  height: 70px;
  position: relative;
  bottom: 6rem;

}

.cards{
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}
.card{
  border: 2px solid var(--main-color);
  width: 200px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-inline: 80px;

}
.card h2{
  font-size: 2rem;
  position: relative;

  bottom: 3rem;
  
}

footer {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
}

footer .container {
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

footer .heading-info {
  margin-bottom: 20px;
}

footer p {
  line-height: 25px;
}

span {
  color: #deab5f;
}

hr {
  margin-bottom: 20px;
  border-color: #deab5f;
  width: 500px;
  margin: 0 auto;
}

.para {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .main-headings,
  .primary-heading {
    font-size: 2.5rem;
  }

  #our-story {
    text-align: center;
  }

  #our-story .title {
    transform: translateX(50px);
  }

  #our-story .line {
    display: none;
  }

  .content-section {
    text-align: center;
  }

  #our-story .img-container .img {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  .coffee-container .img-container {
    margin-top: 5rem;
    width: 50%;
  }

  hr {
    width: 400px;
  }

  .hr-two {
    display: none;
  }

  .para {
    margin-top: 10rem;
  }
}